<div>
  <button class="btn btn-primary" (click)="src = 'https://images.pexels.com/photos/18842628/pexels-photo-18842628/free-photo-of-gente-animal-perro-mascota.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
    imagen 1
  </button>

  <button class="btn btn-primary" (click)="src = 'https://images.pexels.com/photos/16529980/pexels-photo-16529980/free-photo-of-torre-eiffel-punto-de-referencia-paris-barcos.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
    imagen 2
  </button>
</div>
<img [src]="src" alt="">
