<div class="card">
  <div class="card-body">
    <form [formGroup]="formUser" (ngSubmit)="procesar">
      <div class="bm-2">
        <label class="form-label">
          Nombre
        </label>
        <input type="text" formControlName="name" class="form-control" placeholder="por favor ingrese su nombre">

        <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
          El nombre es obligatorio
        </div>
      </div>
      <div class="bm-2">
        <label class="form-label">
          Email
        </label>
        <input type="email" formControlName="email" class="form-control" placeholder="por favor ingrese su email">
        <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
            El email es obligatorio
          </span>
          <span *ngIf="email.errors?.['email']">
            El email tiene que ser valido
          </span>
        </div>
      </div>
      <button class="btn btn-primary"[disabled]="formUser.invalid">
        Enviar
      </button>
    </form>
  </div>
</div>
