<input type="text" class="form-control" #newDay>
<button class="btn btn-primary mt-2 mb-4" (click)="dia = newDay.value">
  Mostrar dia
</button>

<div [ngSwitch]="dia" *ngIf="dia">
  <samp *ngSwitchCase="'1'">Lunes</samp>
  <samp *ngSwitchCase="'2'">Martes</samp>
  <samp *ngSwitchCase="'3'">Miercoles</samp>
  <samp *ngSwitchCase="'4'">Jueves</samp>
  <samp *ngSwitchCase="'5'">Viernes</samp>
  <samp *ngSwitchCase="'6'">Sabado</samp>
  <samp *ngSwitchCase="'7'">Domingo</samp>
  <samp *ngSwitchDefault>SOS</samp>
</div>
