<input type="text" placeholder="Ingresa tu nombre" class="form-control" #name>
<button class="btn btn-primary mt-2" (click)="mostrar_en_consola(name.value)">
  Mostrar en consola
</button>
<div class="alert alert-primary" *ngIf="openAlert; else mensaje">
  <p>Se ha enviado el mensaje</p>
  <button class="btn btn-danger" (click)="openAlert=false">X</button>
</div>

<ng-template #mensaje>
  <div class="alert alert-danger mt-4">
    Mensaje de prueba
  </div>
</ng-template>
